# Data IMport

In [11]:
import numpy as np
import string
import matplotlib.pyplot as plt
import csv
import pandas as pd

In [12]:
def normalize_words(text):
    words = text.split()
    norm_words = []
    for word in words:
        lastChar = len(word) - 1 
        if word[0] in ("#","@","(","$","'", '"') or word[0].isdigit():
            continue
        if word[lastChar].isdigit() or (word[lastChar] in string.punctuation):
            continue
        norm_words.append(word.lower().rstrip(string.punctuation))
    return norm_words

In [13]:
fulltxt = []
for x in range(85):
    filename = '/data/federalist/' + str(x+1) + '.txt'
    with open(filename, 'r') as myfile:
        data = myfile.read().replace('\n', ' ')
        data = normalize_words(data)
        
    fulltxt = fulltxt + data

In [14]:
vocab = {}
for word in fulltxt:
    if word not in vocab:
        vocab[word] = 1
    else:
        vocab[word] += 1

In [15]:
df = pd.Series(vocab)
df=df[df>25]

In [16]:
authors=pd.read_csv("/data/federalist/authorship.csv")

In [17]:
DF=pd.DataFrame(columns=df.index)

In [18]:
for x in range(85):
    filename = '/data/federalist/' + str(x+1) + '.txt'
    with open(filename, 'r') as myfile:
        data = myfile.read().replace('\n', ' ')
        data = normalize_words(data)
        
    article = pd.DataFrame(columns = df.index)
    article.loc[x] = 0
    for word in data:
        if word not in df.index:
            continue
        article[word] = article[word] + 1
        
    DF = DF.append(article)
DF.index = range(1,len(DF)+1)

# Data Wrangling

In [19]:
DF=DF.reset_index()

In [20]:
DF.head()

,index,a,able,about,absolute,according,act,acts,actual,addition,...,whose,will,with,within,without,would,years,yet,york,you
0,1,25.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,23.0,6.0,0.0,0.0,2.0,0.0,0.0,0.0,7.0
1,2,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,13.0,0.0,2.0,5.0,0.0,3.0,0.0,0.0
2,3,13.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,24.0,10.0,0.0,0.0,2.0,1.0,3.0,0.0,0.0
3,4,16.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,...,1.0,14.0,12.0,0.0,2.0,14.0,0.0,0.0,0.0,1.0
4,5,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,11.0,1.0,1.0,35.0,1.0,3.0,0.0,1.0

In [21]:
DF=DF.rename(index=str,columns={"index": "Paper"})

In [22]:
DF=DF.merge(authors,how='inner')

In [23]:
sums=DF.groupby("Author").mean()

In [24]:
sumstrans=sums.T
sumtrans=sumstrans.drop('Paper',axis=0)

In [25]:
unknown=DF[pd.isnull(DF['Author'])]
known=DF[~pd.isnull(DF['Author'])]
unknown.head()

,Paper,a,able,about,absolute,according,act,acts,actual,addition,...,will,with,within,without,would,years,yet,york,you,Author
17,18,37.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,1.0,12.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,NaN
18,19,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,20.0,1.0,1.0,4.0,0.0,0.0,0.0,0.0,NaN
19,20,28.0,0.0,2.0,1.0,0.0,0.0,0.0,1.0,0.0,...,3.0,8.0,1.0,3.0,1.0,0.0,1.0,0.0,0.0,NaN
48,49,33.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,11.0,2.0,2.0,21.0,0.0,0.0,0.0,0.0,NaN
49,50,14.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,7.0,5.0,6.0,3.0,11.0,0.0,0.0,0.0,0.0,NaN

In [26]:
unknown=unknown.drop("Author",axis=1).set_index("Paper").T
known=known.drop("Author",axis=1).set_index("Paper").T

In [27]:
knowns=DF[~pd.isnull(DF['Author'])]

In [28]:
knowns=knowns.set_index("Paper")
knowns['AuthorNumeric']=1
knowns.loc[knowns['Author']=='Madison','AuthorNumeric']=2
knowns.loc[knowns['Author']=='Jay','AuthorNumeric']=3

In [29]:
knowns.head()

,a,able,about,absolute,according,act,acts,actual,addition,additional,...,with,within,without,would,years,yet,york,you,Author,AuthorNumeric
Paper,,,,,,,,,,,,,,,,,,,,,
1,25.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,6.0,0.0,0.0,2.0,0.0,0.0,0.0,7.0,Hamilton,1
2,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,0.0,2.0,5.0,0.0,3.0,0.0,0.0,Jay,3
3,13.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,2.0,1.0,3.0,0.0,0.0,Jay,3
4,16.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,...,12.0,0.0,2.0,14.0,0.0,0.0,0.0,1.0,Jay,3
5,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.0,1.0,1.0,35.0,1.0,3.0,0.0,1.0,Jay,3

# Regression

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
model=LinearRegression()
model.fit(sumtrans[['Jay','Hamilton','Madison']],unknown[18])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
model.coef_

array([-0.07121786, -0.56081371,  1.27107459])

In [38]:
# Predicting the unknown papers
for j in unknown.columns:
    print(j)
    model.fit(sumtrans[['Hamilton','Jay','Madison']],unknown[j])
    print(model.coef_)
    print([j/sum([max(0,i/sum(model.coef_ )) for i in model.coef_]) for j in [max(0,i/sum(model.coef_ )) for i in model.coef_]])

18
[-0.56081371 -0.07121786  1.27107459]
[0.0, 0.0, 1.0]
19
[-0.34928372  0.09161397  0.95511578]
[0.0, 0.087523994015241122, 0.91247600598475875]
20
[-0.11694914  0.12301544  0.52337235]
[0.0, 0.19031213541602918, 0.80968786458397091]
49
[ 0.16880277 -0.07475354  0.52525647]
[0.24321089390787035, 0.0, 0.75678910609212968]
50
[-0.03070287  0.0965857   0.34630161]
[0.0, 0.21808187942418358, 0.78191812057581633]
51
[ 0.02641425 -0.21814016  0.78383491]
[0.032600156849751379, 0.0, 0.96739984315024863]
52
[ 0.26574421 -0.14310385  0.51218737]
[0.34160358116658307, 0.0, 0.65839641883341693]
53
[ 0.26510006  0.08827219  0.48286135]
[0.31701675407221747, 0.10555924874964857, 0.57742399717813409]
54
[ 0.25590081 -0.17825776  0.60274525]
[0.2980282823316423, 0.0, 0.70197171766835775]
55
[ 0.53480484  0.05624338  0.24223033]
[0.6418079993995911, 0.067496493781259631, 0.29069550681914919]
56
[ 0.29123313  0.07798419  0.30668463]
[0.43088074384997715, 0.11537795842725104, 0.45374129772277177]
57
[ 0.27899005 -0.01767253  0.59071119]
[0.32078837337364374, 0.0, 0.67921162662635615]
58
[ 0.1948211  -0.1328159   0.65961841]
[0.22801040578135687, 0.0, 0.7719895942186431]
62
[ 0.60935036  0.1885121   0.21974136]
[0.59880903088968573, 0.18525097415338748, 0.2159399949569267]
63
[ 0.27377509 -0.16167085  0.90256461]
[0.23273472220429514, 0.0, 0.76726527779570475]

In [40]:
# Predicting the known papers
for j in known.columns:
    print(j)
    model.fit(sumtrans[['Hamilton','Jay','Madison']],known[j])
    print(model.coef_)
    print([j/sum([max(0,i/sum(model.coef_ )) for i in model.coef_]) for j in [max(0,i/sum(model.coef_ )) for i in model.coef_]])

1
[ 0.70897823  0.16095975 -0.09400813]
[0.81497560441388128, 0.18502439558611866, 0.0]
2
[ -2.09350917e-05   9.14374279e-01   5.28353095e-02]
[0.0, 0.94537346391645616, 0.054626536083543988]
3
[ 0.03345922  0.77834283  0.01090834]
[0.040669499386534497, 0.94607147031320893, 0.013259030300256523]
4
[-0.14591144  1.17433278 -0.01789665]
[0.0, 1.0, 0.0]
5
[ 0.14802777  0.97053536 -0.24011422]
[0.13233742749126712, 0.86766257250873291, 0.0]
6
[ 0.59724056  0.20608698  0.19943642]
[0.5955943569935489, 0.20551893553325332, 0.19888670747319781]
7
[ 1.03928852 -0.11452092  0.03057101]
[0.97142521569943319, 0.0, 0.028574784300566852]
8
[ 0.96343842  0.17844735 -0.17997071]
[0.84372574697409819, 0.15627425302590175, 0.0]
9
[ 0.90311373 -0.07874026  0.01663123]
[0.98191756148414056, 0.0, 0.018082438515859431]
10
[-0.04355953  0.56934486  0.76523478]
[0.0, 0.42660988190623006, 0.57339011809377005]
11
[ 1.46874864  0.28176742 -0.46927905]
[0.83903751472705734, 0.16096248527294257, 0.0]
12
[ 0.96439324  0.16840334 -0.11780631]
[0.85133841357289008, 0.14866158642710983, 0.0]
13
[ 0.59304115  0.02824435 -0.17537903]
[0.95453885768067548, 0.045461142319324598, 0.0]
14
[ 0.15376392  0.13857476  0.55925603]
[0.18055997225875134, 0.16272383997194539, 0.65671618776930329]
15
[ 1.40593449  0.0583393  -0.11549168]
[0.96015820187374656, 0.039841798126253394, 0.0]
16
[ 1.15515447 -0.03105457 -0.1499769 ]
[1.0, 0.0, 0.0]
17
[ 0.39960134 -0.0114114   0.28148226]
[0.58671408196753361, 0.0, 0.41328591803246634]
21
[ 0.8255204  -0.22629347  0.17599298]
[0.82427296266835792, 0.0, 0.17572703733164202]
22
[ 1.95009495  0.03385471 -0.34048727]
[0.98293570220171145, 0.017064297798288625, 0.0]
23
[ 0.43932017  0.1580522   0.25128766]
[0.51766331889464889, 0.18623735475279124, 0.29609932635255992]
24
[ 1.20268477  0.35762594 -0.46718065]
[0.7707982557042381, 0.22920174429576196, 0.0]
25
[ 0.93889118  0.12791361 -0.10731593]
[0.8800965138155149, 0.11990348618448515, 0.0]
26
[ 1.26700946  0.05829553 -0.22423057]
[0.95601349958367554, 0.043986500416324327, 0.0]
27
[ 0.51808654  0.00370056  0.14047752]
[0.78229535554939811, 0.0055877402862241658, 0.21211690416437765]
28
[ 0.60511182 -0.09788924  0.16313235]
[0.78765559241655814, 0.0, 0.21234440758344184]
29
[ 1.19547325  0.06655552 -0.12493469]
[0.94726307113267649, 0.052736928867323479, 0.0]
30
[ 0.93200467  0.10700552 -0.13948319]
[0.89701205688419572, 0.10298794311580428, 0.0]
31
[ 0.79150607  0.11837836 -0.05868173]
[0.86989736482683366, 0.13010263517316636, 0.0]
32
[ 0.40368333 -0.08817829  0.26620582]
[0.60261213657570012, 0.0, 0.39738786342429983]
33
[ 0.48124174  0.05481513  0.18086179]
[0.67126406625327883, 0.076459349337622551, 0.25227658440909861]
34
[ 1.36883195  0.13160396 -0.38798318]
[0.91228951693408233, 0.08771048306591768, 0.0]
35
[ 0.91327705  0.34258154 -0.13053992]
[0.72721328732327239, 0.27278671267672749, 0.0]
36
[ 1.29311619  0.21412835 -0.06493082]
[0.85793390354414278, 0.14206609645585713, 0.0]
37
[ 0.12673572  0.4741843   0.58746666]
[0.10664518449966302, 0.39901515858398334, 0.49433965691635373]
38
[ 0.73815761  0.24696059  0.37736788]
[0.54177258660543948, 0.18125733461260446, 0.27697007878195612]
39
[-0.01375412 -0.29578224  1.17617024]
[0.0, 0.0, 1.0]
40
[ 0.01279439  0.37997551  0.90182097]
[0.0098829569870873997, 0.2935101114984639, 0.69660693151444875]
41
[ 0.35984211 -0.13461293  0.99816357]
[0.2649783529914872, 0.0, 0.73502164700851269]
42
[ 0.23369905  0.12319073  0.7522093 ]
[0.21071070334925551, 0.11107279170933219, 0.67821650494141228]
43
[ 0.19289715 -0.43129958  1.31336323]
[0.12806361423178447, 0.0, 0.87193638576821564]
44
[-0.32129393 -0.16400096  1.40020465]
[0.0, 0.0, 1.0]
45
[-0.40131156 -0.32005538  1.3594275 ]
[0.0, 0.0, 1.0]
46
[-0.20547459 -0.05550382  1.21100638]
[0.0, 0.0, 1.0]
47
[-0.7059922  -0.5408729   1.88590769]
[0.0, 0.0, 1.0]
48
[-0.12650399  0.00989706  0.71240112]
[0.0, 0.013702181342363572, 0.98629781865763644]
59
[ 0.99584738 -0.1488575  -0.04189837]
[1.0, 0.0, 0.0]
60
[ 1.31545151 -0.10337848 -0.1480526 ]
[1.0, 0.0, 0.0]
61
[ 0.85036068 -0.12364158 -0.04599001]
[1.0, 0.0, 0.0]
64
[-0.03555461  1.16241475  0.19426722]
[0.0, 0.85680710247234981, 0.1431928975276501]
65
[ 0.90679119 -0.22585169  0.18032645]
[0.83412425667961743, 0.0, 0.16587574332038249]
66
[ 0.98388654 -0.34837909  0.29068455]
[0.77193539543640388, 0.0, 0.22806460456359612]
67
[ 0.5160928  -0.12812334  0.29950003]
[0.6327824191623761, 0.0, 0.36721758083762401]
68
[ 0.73529359  0.0329423  -0.05550792]
[0.95711954566116786, 0.04288045433883219, 0.0]
69
[ 0.89380117 -0.1700819   0.56186188]
[0.61401652937661999, 0.0, 0.38598347062338012]
70
[ 1.18868459  0.03789936  0.18855895]
[0.83997495455567106, 0.026781295499537127, 0.1332437499447918]
71
[ 0.65633468 -0.05057572  0.1509843 ]
[0.81298061789493148, 0.0, 0.1870193821050686]
72
[ 1.04704676  0.06032428 -0.1597251 ]
[0.94552478036451182, 0.054475219635488119, 0.0]
73
[ 1.20742689 -0.11039871 -0.09997796]
[1.0, 0.0, 0.0]
74
[ 0.55691553 -0.13136995  0.01808492]
[0.96854798164096678, 0.0, 0.03145201835903317]
75
[ 1.17080101 -0.33934087  0.00798839]
[0.99322322347312253, 0.0, 0.006776776526877362]
76
[ 1.04288778  0.14349757 -0.22049319]
[0.87904640615206975, 0.1209535938479302, 0.0]
77
[ 1.27619119 -0.17401395 -0.20040253]
[1.0, 0.0, 0.0]
78
[ 0.95180413 -0.00519672  0.39562461]
[0.70638550528290955, 0.0, 0.2936144947170905]
79
[ 0.48344523  0.06501542 -0.06304349]
[0.88145836937483768, 0.11854163062516233, 0.0]
80
[ 0.8219855  -0.10199934  0.33708831]
[0.70917442116646179, 0.0, 0.29082557883353805]
81
[ 1.80192686 -0.2551459   0.15233698]
[0.92204891637238451, 0.0, 0.077951083627615464]
82
[ 0.63197477  0.00137412  0.09672116]
[0.86563579860896289, 0.0018821715468134998, 0.13248202984422372]
83
[ 2.96473093  0.0757459  -0.42708183]
[0.97508749229778824, 0.02491250770221172, 0.0]
84
[ 1.47663783 -0.18589425  0.40851844]
[0.78329730802335973, 0.0, 0.21670269197664024]
85
[ 1.19889512 -0.02322124  0.01549473]
[0.98724072879651426, 0.0, 0.012759271203485733]